<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <link href="http://yife.info/src/css/bootstrap.css" rel="stylesheet"> <!--bootstrap本体-->
    
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="http://yife.info/src/js/bootstrap.js"></script>
    <script src="http://yife.info/src/js/woopra.js"></script>

    <title>動画アップロード: 嘘子ちゃん動画</title>
</head>
<body>

<!-- トップのナビゲーションバー部分 -->
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
        <a class="brand" href="http://yife.info/src/">嘘子ちゃん動画</a>
        <ul class="nav">
            <li><a href="index.php">トップページ</a></li>
            <li><a href="search.php">検索</a></li>
            <li><a href="ranking.php">ランキング</a></li>
            <li class="active"><a href="upload.php">アップロード</a></li>
        </ul>
        <ul class="nav pull-right">
            <li><a href="login.php">{{if $username != ''}} {{$username}} {{else}} ログイン{{/if}}</a></li>
        </ul>
    </div>
  </div>
</div>

<!-- トップのナビゲーションバー部分 終了 -->

<!-- アップロードフォーム部分 -->
<div class="alert alert-info">
  まだログインしていないようです。<a href='login.php'>まずはログインをどうぞ？</a>
</div>
<!-- アップロードフォーム部分 終了 -->



</body>
</html>