<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <link href="http://yife.info/src/css/bootstrap.css" rel="stylesheet"> <!--bootstrap本体-->
    <link href="http://yife.info/src/css/viewer.css" rel="stylesheet"> <!--コメントつきプレイヤー用-->
    
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="http://yife.info/src/js/bootstrap.js"></script>
    <script src="http://yife.info/src/js/telopper.js"></script>
    <script src="http://yife.info/src/js/post_comment_in_viewer.js"></script>
    <script src="http://yife.info/src/js/post_tag_in_viewer.js"></script>
    <script src="http://yife.info/src/js/woopra.js"></script>

    <title>動画視聴: 嘘子ちゃん動画</title>
</head>
<body>

<!-- トップのナビゲーションバー部分 -->
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
        <a class="brand" href="http://yife.info/src/">嘘子ちゃん動画</a>
        <ul class="nav">
            <li><a href="index.php">トップページ</a></li>
            <li><a href="search.php">検索</a></li>
            <li><a href="ranking.php">ランキング</a></li>
            <li><a href="upload.php">アップロード</a></li>
        </ul>
        <ul class="nav pull-right">
            <li><a href="login.php">{{if $username != ''}} {{$username}} {{else}} ログイン{{/if}}</a></li>
        </ul>
    </div>
  </div>
</div>
<!-- トップのナビゲーションバー部分 終了 -->

<!-- 動画プレイヤー部分 -->
<div class="" style="">
    
    <div class="offset4">
        <!-- 動画タイトル -->
        <span class="label label-info">タイトル</span>
        <h2 id='video_title' style="color: #223161; text-shadow: 0px 1px 15px #c4c4c4; margin-bottom: 20px;">{{ $video_title }}</h2>
    
        <!-- 動画説明文 -->
        <span class="label label-info">説明文</span>
        <p id='video_desc' style="color: #223161; text-shadow: 0px 0px 2px #c4c4c4; margin-bottom: 20px;">{{ $video_desc }}</p>
        
        <!-- 動画タグ -->
        <span class="label label-info">タグ</span>
        <p class="" id='video_tags' style="color: #223161; text-shadow: 0px 0px 2px #c4c4c4; margin-bottom: 20px;">{{ $video_tags }}</p>
        <form class="" action="#" target="f1">
            <input type="text" class="span3" name='tag_text' id='tag_text'>
            <button type="submit" class="btn" name='post_tag' onClick="PostTag()">タグを追加。スペースで区切ることで、一度に複数を追加できます。</button>
        </form>
    </div>
    
    <!-- プレイヤー全体 -->
    <div id="viewArea">
        
		<video id="myVideo">
			<source src={{$video_path}} >
			
			<p>HTML5のvideoに対応したブラウザをご利用下さい</p>
		</video>
		<div id="telop"></div>
		<p>
		  <i class="icon-play" id="playButton" onclick="playVideo()" alt="再生ボタン"></i>
		</p>
		<form class="well" action="#" target="f1">
            <input type="text" class="span7" name='comment_text' id='comment_text'>
            <button type="submit" class="btn btn-inverse" name='post_comment' onClick="PostComment()">コメントを投稿</button>
        </form>

	</div>
	
	<!-- テロップデータ -->
	<form style="visibility: hidden;">
		<div class="subheader">テロップデータ</div>
		<textarea id="telopCommand" cols="30" rows="15"></textarea>
	</form>


</div>
<!-- 動画プレイヤー部分 終了 -->


<!-- ユーザ情報を埋め込み -->
<div id='hidden_user_properties' width=0 height=0 style="visibility:hidden">

    <p id='video_number'>{{$video_number}}</p>
    <p id='username'>{{$username}}</p>
    <p id='userID'>{{$userID}}</p>

</div>

<!-- フォームボタンクリックによるページ遷移を抑制 -->
<iframe name="f1" width=0 height=0 style="visibility:hidden">


    
</iframe>
</body>
</html>